/*chrome，Saf4滚动条*/
	::-webkit-scrollbar-track-piece{
	 -webkit-border-radius:0;
	}
	::-webkit-scrollbar{
	 width:8px;
	 height:12px;
	}
	::-webkit-scrollbar-thumb{
	 background: rgba(193, 189, 189, 0.5);
	 -webkit-border-radius:10px;
	 outline-offset:-2px;
	}
	::-webkit-scrollbar-thumb:hover{
	 background: rgba(126, 126, 126, 0.5);
	 -webkit-border-radius:10px;
	}
/* 火狐滚动条 */	
	::-moz-scrollbar-track-piece{
	 -moz-border-radius:0;
	}
	::-moz-scrollbar{
	 width:8px;
	 height:12px;
	}
	::-moz-scrollbar-thumb{
	 background: rgba(193, 189, 189, 0.5);
	 -moz-border-radius:10px;
	 outline-offset:-2px;
	}
	::-moz-scrollbar-thumb:hover{
	 background: rgba(126, 126, 126, 0.5);
	 -moz-border-radius:10px;
	}	
/* ie滚动条 */	
	::-ms-scrollbar-track-piece{
	 -ms-border-radius:0;
	}
	::-ms-scrollbar{
	 width:8px;
	 height:12px;
	}
	::-ms-scrollbar-thumb{
	 background: rgba(193, 189, 189, 0.5);
	 -ms-border-radius:10px;
	 outline-offset:-2px;
	}
	::-ms-scrollbar-thumb:hover{
	 background: rgba(126, 126, 126, 0.5);
	 -ms-border-radius:10px;
	}
/* 欧朋滚动条 */	
	::-o-scrollbar-track-piece{
	 -o-border-radius:0;
	}
	::-o-scrollbar{
	 width:8px;
	 height:12px;
	}
	::-o-scrollbar-thumb{
	 background: rgba(193, 189, 189, 0.5);
	 -o-border-radius:10px;
	 outline-offset:-2px;
	}
	::-o-scrollbar-thumb:hover{
	 background: rgba(126, 126, 126, 0.5);
	 -o-border-radius:10px;
	}		
	*{padding:0;margin: 0;}
	ul,ol,li,dl,dt,dd{list-style: none;}
	html,body{
		width:500px;/*width:1000px;  */
		height: 600px;
		overflow: hidden;
		margin:0;
		padding:0;
		position: relative;
	}
	.IMContent{
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;	 
	}
	.IMContent section{
		display: inline-block;
		padding:0;
		margin: 0;		
		border-radius:10px;	
	}
	.IMLeft{
		width:200px;
		height: 100%;
		border-right:1px solid #E6E2E2;
		float: left;
	}
	.IMRight{
		width: 798px;
		height: 100%;
		float:right;
	}
	.left_nav{
		width: 200px;
		height: 50px;
		line-height: 50px;
		text-indent: 14px;
	}
	#aside_nav1>li{			
		position: relative;
		color:#fff;
		font-size:18px;
		cursor: pointer;
	}
	#aside_nav1 .downBtn {
	    width: 40px;
	    height: 25px;
	    overflow: hidden;
	    position: absolute;
	    right: 5px;
	    top: 14px;
	    font-size: 20px;
	    color:#fff;
	}
	.talkList_LI{
		background-image: -moz-linear-gradient(top, #7fcaf9, #3fadf1); /* Firefox */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,  #7fcaf9), color-stop(1, #3fadf1)); /* Saf4+, Chrome */
		background-image: -ms-gradient(linear, left top, left bottom, color-stop(0,  #7fcaf9), color-stop(1, #3fadf1)); 
		background-image: -o-gradient(linear, left top, left bottom, color-stop(0,  #7fcaf9), color-stop(1, #3fadf1)); 
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #7fcaf9', endColorstr='#3fadf1', GradientType='0'); /* IE*/
	}
	.historySession_LI{
		background-image: -moz-linear-gradient(top, #f8d879, #fabe0d); /* Firefox */
		background-image: -ms-linear-gradient(top, #f8d879, #fabe0d);
		background-image: -o-linear-gradient(top, #f8d879, #fabe0d);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,  #f8d879), color-stop(1, #fabe0d)); /* Saf4+, Chrome */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #f8d879', endColorstr='#fabe0d', GradientType='0'); /* IE*/
	}
	.collectionSession_LI{
		background-image: -moz-linear-gradient(top, #67f6d0, #00bf8c); /* Firefox */
		background-image: -ms-linear-gradient(top, #67f6d0, #00bf8c);
		background-image: -o-linear-gradient(top, #67f6d0, #00bf8c);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,  #67f6d0), color-stop(1, #00bf8c)); /* Saf4+, Chrome */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #67f6d0', endColorstr='#00bf8c', GradientType='0'); /* IE*/
	}
	#aside_nav1 ul li{
		cursor: pointer;
	}
	.rotate1{
	    right: -3px;
	    top: 10px;
	     transform:rotate(180deg)
	}
	@-webkit-keyframes circle1{
		0%{ transform:rotate(0deg); }
		100%{ transform:rotate(90deg); }
	}
	.rotate2{
	    right: -3px;
	    top: 10px;
	    -webkit-animation:circle2 1s normal  linear;/*匀速 循环*/
	    -moz-animation:circle2 1s normal  linear;
	    -ms-animation:circle2 1s normal  linear;
	    -o-animation:circle2 1s normal  linear;
	}
	@-webkit-keyframes circle2{
		0%{ transform:rotate(180deg); }
		100%{ transform:rotate(0deg); }
	}
	#talkList,#historySession,#collectionSession {
		height:410px;
		min-height: 410px;
		overflow: auto;
	}
	#aside_nav1 dl{
		width: 100%;		
	}
	#aside_nav1 dt,#aside_nav1 dd{
		display: inline-block;
	}
	dt{
		width: 60px;
		padding:5px;
		vertical-align: middle;
		position: relative;
	}
	dt .talkNews{
		display:block;
		position: absolute;
		top:3px;
		right: 8px;
		width:23px;
		height: 23px;
		text-align:center;
		line-height:21px;
		font-size:14px;
		border-radius:23px;
		background-color: #e9354c;
		color:#fff;
	}
	dt img{
		width: 90%;		
	}
	dd{
		width: 110px;
		line-height: 24px;
		vertical-align: middle;
	}
	dd span{display: block; font-size:14px;}
	
	.IMRight header{
		height: 50px;line-height: 50px;border-bottom:1px solid #E6E2E2;
		text-indent: 20px; font-size: 20px;
		font-size:16px;
	}
	#RContent{
		width:100%;
		height: 549px;
	}
	#RcontentTalk{
		width:520px;
		height:549px;
		border-right:1px solid #E6E2E2;
		float: left;
	}
	#RcontentInfo{
		width:275px;
		height: 549px;
		float: right;
		background: #EFEFEF;
		display: none;
	}
	.active{
		background-image:  -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFB), color-stop(1, #B7B7B7));
		background-image: -moz-linear-gradient(top, #FAFAFB, #B7B7B7);
		background-image:  -ms-linear-gradient(top, #FAFAFB, #B7B7B7);
		background-image:  -o-linear-gradient(top, #FAFAFB, #B7B7B7);
	}
	.rightBtns{
		float: right;
	}
	#scaleBtn{
		vertical-align: middle;
		margin-right: 20px;		
		cursor: pointer;
	}
	#closeBtn{
		vertical-align: middle;
		margin-right: 20px;		
		cursor: pointer;
	}
	#receiveMessages{
		height: 340px;
		border-bottom:1px solid #E6E2E2;
		overflow:hidden; 
	}
	#sendMessages{
		outline:none;
		height: 80px;
		border-bottom:1px solid #E6E2E2;
		overflow-y:auto;
		overflow-x: hidden;
		padding:5px;
		color:#848282;
		font-size:12px;
		white-space:normal;
		width:500px;
	}
	#footerBtns{
		height: 40px;
		line-height: 40px;
	}
	.abtn{
		display: inline-block;
		width:88px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size:14px;
		color:#fff;
		border-radius:4px;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#139DFD), to(#5D80F2));
		background-image: -ms-linear-gradient(top, #139DFD, #5D80F2);
		background-image:-o-linear-gradient(top, #139DFD, #5D80F2);
		background-image:-moz-linear-gradient(top, #139DFD, #5D80F2);
	
	}
	.abtn:hover{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#5D80F2), to(#139DFD));
	background-image:-moz-linear-gradient(top, #5D80F2, #139DFD);
	background-image:-ms-linear-gradient(top, #5D80F2, #139DFD);
	background-image:-o-linear-gradient(top, #5D80F2, #139DFD);
	}
	.collectionBtn{margin-right:200px;margin-left:20px;}
	.endBtn,.sendBtn{
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#FF7E00), to(#F0A410));
		background-image:-moz-linear-gradient(top, #FF7E00, #F0A410);
		background-image:-ms-linear-gradient(top, #FF7E00, #F0A410);
		background-image:-o-linear-gradient(top, #FF7E00, #F0A410);
		position: relative;
		cursor: pointer;
	}		
	.sendBtn{text-align: left; text-indent: 20px;}
	.endBtn:hover,.sendBtn:hover{
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#F0A410), to(#FF7E00));
		background-image:-moz-linear-gradient(top, #F0A410, #FF7E00);
		background-image:-ms-linear-gradient(top, #F0A410, #FF7E00);
		background-image:-o-linear-gradient(top, #F0A410, #FF7E00);
	}
	.inputBox { position: absolute; bottom: 0; width: 100%; background: #fff}
	.inputBox input{ margin: 0; padding: 0;}
	.startKFtips ,.historyMore{ margin: 5px auto; text-align: center;}
	.startKFtips label,.historyMore label{ text-align: center; font-size: 11px;color:#fff; background: #ccc; margin:0 auto; padding: 4px;border-radius:10px ;}
	.historyMore{margin-bottom:5px;position: relative;}
	
	.historyMore label{cursor: pointer;}
	.chatList{ margin: 0; padding: 0;height: 340px;overflow: auto;overflow-x:hidden;}
	.chatList li {position: relative; font-size: 0;margin-bottom: 10px; padding-left: 60px; min-height: 68px;}
	.chatList .chat-visitor {text-align: right; padding-left: 0; padding-right: 60px;}
	
	.chat-text{ min-height: 11px; position: relative; line-height: 22px; margin-top: 25px; padding: 10px 15px; background-color: #FFF; border-radius: 3px; color: #333; word-break: break-all; max-width: 462px\9;}
	.chat-text:after {content: ''; position: absolute; left: -10px; top: 15px; width: 0; height: 0; border-style: solid dashed dashed; border-color: #e6ecff transparent transparent; overflow: hidden; border-width: 10px;}
	.chat-user{ position: absolute;left: 3px;}
	.chat-text, .chat-user { display: inline-block; vertical-align: top; font-size: 14px; }
	.chat-text{background-color: #e6ecff;white-space: pre-wrap;word-wrap: break-word;max-width:330px;}/*  white-space: pre-wrap;word-wrap: break-word;换行*/
	.chat-user img {width: 40px; height: 40px; border-radius: 100%; display: inline-block;}
	.chat-visitor .chat-user{left: auto;right: 3px;}
	.chat-visitor .chat-text { margin-left: 0; text-align: left; background-color: #E9E9E9; color: #000;}
	.chat-visitor .chat-text:after { left: auto; right: -10px; border-top-color: #E9E9E9;}
	.chatList cite {position: absolute;left: 60px;top: -2px;width: 500px;line-height: 24px; font-size: 12px; white-space: nowrap; color: #999; text-align: left; font-style: normal;}
	.chat-visitor cite {left: auto; right: 60px; text-align: right;}
	.chat-visitor cite i{margin-right:8px;}
	.systemNews:after{border-width:0;}
	.systemNews{ background-color: #E9E9E9; color:#666; border-radius:50px;padding:4px 15px;font-size:12px;}
	i{font-style: normal;}	
	#sendOthers{
		height: 34px;
		line-height:34px;
	}
	#sendOthers span{
		width:25px;
		height: 25px;
		display: inline-block;
		margin-left:15px;
	}
	#sendOthers span:last-child{	
		position: relative;
	}
	#sendOthers #image {
		position: absolute;
		top:10px;
		left:0;
		width:30px;
		z-index: 1000;
   		opacity: 0;
	}
	#sendOthers span img{
		vertical-align: middle;
	}
/* 	#sendText{width: 100%;height: 100%; overflow-y: auto;overflow-x:hidden; padding:10px;} */
	#facebox{position: absolute;
    z-index: 1000;
    top: 210px;
    left: 201px;
    background-color: #fff;
    border: 1px solid #E4E3E3;
    padding: 5px;
    box-shadow: 0px 2px 30px #E4E3E3;}
  #loadingMark{
  	position: absolute;
  	top:50px;
  	left:0;
  	right:0;
  	bottom:0;
  	background: #000;
  	opacity:0;
  	z-index:100;
  	display: none;
  }  
  #loading{
  	position: absolute;
  	width:120px;
  	height: 120px;
  	top:50%;
  	left:50%;
  	margin-left: -60px;
  	margin-top: -60px;
  	display:none;
  } 
  
  /* css3加载中动画 */
  .spinner {
	  width: 20px;
	  height: 20px;
	  position: absolute;
	  top:30px;
	  left:50%;
	  margin-left: -10px;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #7D9EF5;
 
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#receiveMessages .chat-text img,#sendMessages img{
	width:110px;
	height: 110px;
}
#receiveMessages .chat-text img.facePic,#sendMessages img.facePic{
	width:24px;
	height: 24px;
}
#scalImgMark{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 100000000;
	background: #000;
	display: none;
	opacity:0.6;
}
#scalImg{
	position: fixed;
	top:100px;
	left:10px;
	right:10px;
	bottom:100px;
	z-index: 1000000000000;
	display: none;
	text-align: center;
	overflow: auto;
}
#scalImg img{
	max-width: 100%;
}
.layui-layer-btn{
	font-size: 12px;
}
.layui-layer-btn .layui-layer-btn0,.layui-layer-title{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#139DFD), to(#5D80F2));
	background: -moz-gradient(linear, 0% 0%, 0% 100%,from(#139DFD), to(#5D80F2));
	background: -ms-gradient(linear, 0% 0%, 0% 100%,from(#139DFD), to(#5D80F2));
	background: -o-gradient(linear, 0% 0%, 0% 100%,from(#139DFD), to(#5D80F2));
	background-image: -moz-linear-gradient(top, #139DFD, #5D80F2);
	background-image: -o-linear-gradient(top, #139DFD, #5D80F2);
	background-image: -ms-linear-gradient(top, #139DFD, #5D80F2);
}
.chat-text .wjDiv{
    float: right;
    display: inline-block;
    width: 125px;
    height: 100px;
    line-height: 26px;
    margin-left: 10px;
   
}
.chat-text  .wjDiv p{
	line-height: 20px;
    width: 125px;  
    height: 58px;
    overflow: hidden;
    color:#5D81F5;
}
.wjDiveName{font-size:12px;}
.chat-text .wjDivHref{color:red; text-decoration: underline;}
#activeKfName{margin-right:20px; color:red;}
.ico_loading{  
    margin-top: 40px;
    margin-right: 13px;
}
.ico_fail{
	margin-top: 40px;
    margin-right: 9px;
    cursor: pointer;
    background: url(../images/errorSend.png) no-repeat center center;
    width: 22px;
    height: 22px;
    border-radius:100%;
    display: inline-block;
}
.ico_hide{display: none;} 
#sendMessages span{background-color:transparent;}
#sendOthers img{cursor: pointer;}
#sendOthers input{cursor: pointer;}
#sendOthers span{cursor: pointer;}
#chosenSend{width:20px; height: 20px; border-left:1px solid #fff;position: absolute; right: 0; top:5px; z-index: 100;    text-indent: 5px;}
#chosenSend img{margin-bottom: 11px;vertical-align: middle;}
#chosenUl{position: absolute;
    width: 220px;
    height: 48px;
    border-radius: 4px;
    top: -48px;
    background-color: #FDFCFC;
    border: 1px solid #ccc;
    color: #000;
    display: none;}
#chosenUl li{line-height: 22px;text-indent: 5px;cursor: pointer; font-size: 12px}
#chosenUl li:hover{background-color: #A3C0F8}
#chosenUl li span{width:25px;height: 20px; display: inline-block;}
#sendaBtn{	cursor: pointer;display: block;}

/* 服务单信息、订单信息右侧样式 */
.InfoTitle{height: 40px;line-height: 40px; background: #E2E2E2; text-indent: 20px; font-size:14px;}
#serviceOrderInfo,#orderInfo{line-height: 26px; text-indent: 20px;font-size:12px;height: 480px;overflow: auto;display: none;}
#serviceOrderInfo label,#orderInfo label{width:120px;}



/* 留言板 */
#Message_content{
	width:100%;
	height: 100%;
	background: url("../images/message.png") no-repeat;
	background-size:cover;
	position: relative;
}

#Message_content section{
	position: absolute;
	top:260px;
	left:50px;
	right:10px;
	bottom:0;
	font-size:12px;
}
#Message_content section li{margin-top: 10px;}
#Message_content section i{color:red;margin-right: 6px;}
#Message_content section input,#Message_content section textarea{min-height:30px;width:200px; list-style: none;outline:none; border: none;background-color: #fbcb3a;resize:none; color:#fff;border-bottom:1px solid #fff; vertical-align: middle;}
#Message_content section textarea{min-height:40px;}
#Message_content section p{text-align: center;margin-top: 20px;width:240px;}
#Message_Btn{width:100px;height:30px; line-height:30px; color:#fff;    box-shadow: 1px 1px 4px #000; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,#5D81F3), color-stop(1,  #2E8DED)); text-align:center;display:inline-block;*display:inline;*zoom:1;cursor:pointer; font-size:14px; vertical-align:middle;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#Message_Btn:hover{filter:alpha(opacity:90); opacity:0.9; text-decoration:none;}









